APP_NAME=ShadApp
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST=localhost
REVERB_PORT=8080
REVERB_SCHEME=http

QUEUE_CONNECTION=database

FCM_SERVER_KEY=
FCM_SENDER_ID=

ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
